* {
    margin: 0;
    padding: 0;
}
.but-color {
    color: #fff;
    background-color: #d43f3a;
}

.imgs {
    width: 116px;
    height: 82px;
}

.imgs>img {
    width: 100%;
    height: 100%;
}

.nav_top {
    margin-top: 83px;

}
.navbar-inverse {
    background: url(../imgss/line.jpg) top repeat-x;
    border: none;
    padding-top: 15px;
    border-radius: 0;
}
.search{
    margin-top: 20px;
}
.jumbotron{
    background: url(../imgss/bg.jpg) center no-repeat;
    padding-top: 140px;
    padding-bottom: 140px;
 }
 .jumbotron h1, .jumbotron h3, .jumbotron p {
    color: #fff;
 }
 .btn-primary {
    background: 0 0;
    border-radius: 30px;
    border: 2px solid #c1c6cd;
    color: #2c3e5e;
    padding: 13px 33px;
}
.btn-primary>.btn {
    font-family: intro_r;
    color: #fff!important;
}
.download {
    background: #eb5b4f!important;
    border: 2px solid #eb5b4f!important;
    color: #fff!important;
}
.sec1, .sec2, .sec3 {
    padding: 80px 0 100px;
}
.img-centered {
    text-align: center;
}
.img-centered>a>img{
  margin: 0 auto;
}

.banner_1{
    background: url(../imgss/bg3.jpg);
    margin-top: -30px;
}

.banner_1 h2 {
    color: #fff;
    margin: 45px 0;
}
.banner_1 .btn {
    margin: 40px 0;
    color: #fff;
}
.table_homepage th {
    font-size: 18px;
    padding: 15px!important;
}
.table_homepage td {
    color: #ccc!important;
    font-size: 16px;
}
.table_homepage th b {
    color: #eb5b4f;
}
.table_homepage td:first-child {
    color: #00184a!important;
}
.testimonial {
    background: url(../imgss/bg_testimonials.jpg) center no-repeat #2d3d5e;
    background-size: cover;
    padding: 80px 0;
}
.testwrapper{
    border: 1px solid rgba(255,255,255,.2);
    padding: 20px 20px 10px;
    position: relative;
    display: flex;
}
p{
    line-height: 1.75em;
    font-size: 17px;
    color: #9c9fa4;
}
.morepadd {
    padding-top: 50px;
}
.testwrapper>p{
    color: #fff;
}
footer {
    background: #2c3e5e;
    padding: 100px 0;
}
@media screen and (min-width:640px) {
    .search{
        display:block;
    }

    .nav_top>ul {
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        border-top: 1px solid rgba(191,191,191,.3);
        color:#2c3e5e !important;
        font-size: 16px;
        font-weight: bold;
    }

    .nav_top>ul>.active>a {
        background: 0 0 !important;
        color: #eb5b4f !important;
    }
    .nav_top>ul>.but_xia:hover{
          background-color: #d43f3a !important;
          color: #fff !important   ;
    }
    .nav_top>ul>.but_xia >a:hover{
        color: #fff !important   ;
  }

    .nav_top>ul>li>a:hover {
        background: 0 0 !important;
        color: #eb5b4f !important ;

    }

 
}

@media screen and (max-width:640px) {
.search{
    display:none;
}
.navbar-inverse .navbar-toggle {
    color: #d43f3a !important       ;
    border-color: #333
}
}
